body {
	background-color: #c2eff2;
	background-image: url('shopping-cart-blue-background.jpg');
	background-repeat: no-repeat;
	background-position: bottom right;
	padding: 0 !important;
	text-align: center;
	height: 95vh;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	background-color: rgb(245,245,245);
	border-bottom: 2px solid rgba(154,123,80,.4);
}

header a {
	cursor: pointer;
}

.main-container {
	margin-top: 180px;
}

#prod-list-display {
	margin: 2vh 2vw;
}

#prod-list {
	margin: auto;
}

#prod-list div {
	margin: .5vh auto;
}

#cart {

}

#cart-list {
	background: rgba(240,240,240,0.6);
	border: 1px solid rgba(20,20,20);
	border-radius: 10px;
	padding-top: .7rem;
}

.hide {
	display: none;
}